<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PESEL number validator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ZadaniaRekrutacyjne/pesel_styles.css'%}">
</head>
<body>
    <div class="form_div">
        {% if validated is None %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        {% else %}
            <p class="pesel_data" id="PESEL_number">{{pesel.pesel_number}}</p>
            <p class='pesel_data' id="Sex">{{pesel.sex}}</p>
            <p class="pesel_data" id="Birthdate">{{pesel.birthdate}}</p>
        {% endif %}
    </div>
</body>
</html>